@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lora:ital@0;1&family=Montserrat:wght@200;400&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #F353D5;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: #fff;
}


/* heading and logo */

h1, h2 {
    font-family: Anton, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fff;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}


/* nav links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: #fff;
}

#menu a:hover {
    border-bottom: 1px solid #fff;
}

.active {
    border-bottom: 1px solid #fff;
}

/* hero image */

#hero-outer {
    height: 600px; 
    width: 100%;
    overflow: hidden;
}

#hero-image {
   background: url('../assets/images/hero-image.jpg');
   height: 600px; 
   width: 100%;
   background-position: center; 
   background-repeat: no-repeat; 
   background-size: cover;
}

/* fight for */

#fight-for {
    height: 600px;
    background-color: #2B18A3;
}

#left {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center {
    width: 33%;
    margin: 0 auto;
}