@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lora:ital@0;1&family=Montserrat:wght@200;400&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
}

body{
    background-color: #F353D5;
}

body{
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: #fff;
}


/* heading and logo */

h1, h2{
    font-family: Anton, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fff;
}

#logo{
    float: left;
    font-size: 280%;
    margin-left: 30px;
}


/* nav links */

#menu{
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo{
    line-height: 75px;
}

#menu li{
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a{
    text-decoration: none;
    color: #fff;
}

#menu a:hover{
    border-bottom: 1px solid #fff;
}

.active{
    border-bottom: 1px solid #fff;
}

/* hero image */

#hero-outer{
    height: 600px; 
    width: 100%;
    overflow: hidden;
}

#hero-image{
   background: url('../images/hero-image.jpg');
   height: 600px; 
   width: 100%;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

#text{
    text-align: center;
    margin-top: 15px;
    font-family: Lora;
    font-weight: bold;
    text-transform: uppercase;
}

/* fight for */

#fight-for{
    height: 500px;
    background-color: #2B18A3;
}

#left{
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right{
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center{
    width: 33%;
    margin: 0 auto;
}

.head1{
    font-size: 25px;
    color: #F353D5;
    line-height: 45px;
    text-align: center;
}

.head2{
    font-size: 25px;
    color: #F353D5;
    line-height: 45px;
}

.head3{
    font-size: 25px;
    color: #F353D5;
    line-height: 45px;
    text-align: center;
}

.left-content{
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
    text-align: justify;
}

.right-content{
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
    text-align: justify;
}

.center-content{
    width: 300px;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 50px;
    line-height: 20px;
    clear: none;
}

#what{
    text-align: center;
    margin: 25px 0;
    font-size: 300%;
    color: #fff;
}

/* footer */

footer{
    height: fit-content;
}

.social-network{
    text-align: center;
}

.social-network li{
    display: inline;
}

.social-network i{
    font-size: 160%;
    margin: 0.5%;
    padding: 2%;
    color: #fff;
}


/* Who we are */

#introduction{
    clear: both;
}

.frame{
    clear: both;
    height: 700px;
    background-color: #fff;
}

#textpage2{
    color: #F353D5;
    font-size: 280%;
    font-family: Anton;
    text-align: left;
    margin-left: 30px;
    margin-top: 5px;
}

#style-p{
    font-size: 155%;
    width: 600px;
    height: 500px;
    font-family: Montserrat;
    font-weight: lighter;
    color: #000;
    text-align: left;
    margin-left: 30px;
    text-align: justify;
}

#photo2{
    display: block;
    float: right;
    width: 50%;
}

/* Reach out page */

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 100px;
}

.container::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.content-box{
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

.left{
    height: 100%;
}

.right{
    padding: 25px 40px;
}

#form-text{
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#form-tex:after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #2B18A3;
}

.field{
    width: 100%;
    padding: 0.5rem 1rem;
    outline: none;
    border: 2 px solid rgba(0, 0, 0, 0);
    background-color: rgba(230, 230, 230, 0.6);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}

.field:hover{
    background-color: rgba(230, 230, 230, 0.1);
}

.fiel:focus{
    background-color: #fff;
    border: 2px solid rgba(30, 85, 250, 0.47);
}

.area{
    min-height: 150px;
}

.btn{
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background-color: #2B18A3;
    cursor: pointer;
    outline: none;
    border: none;
    color: #fff;
    transition: ;
}

.btn:hover{
    background-color: #000;
}