@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lora:ital@0;1&family=Montserrat:wght@200;400&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
}

body{
    background-color: #F353D5;
}

body{
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: #fff;
}


/* heading and logo */

h1, h2{
    font-family: Anton, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fff;
}

#logo{
    float: left;
    font-size: 280%;
    margin-left: 30px;
}


/* nav links */

#menu{
    font-size: 115%;
    letter-spacing: 4px;
}

#menu, #logo{
    line-height: 80px;
}

#menu li{
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a{
    text-decoration: none;
    color: #fff;
}

#menu a:hover{
    border-bottom: 2px solid #2B18A3;
}

.active{
    border-bottom: 2px solid #2B18A3;
}

/* hero image */

#hero-outer{
    height: 600px; 
    width: 100%;
    overflow: hidden;
}

#hero-image{
   background: url('../images/hero-image.jpg');
   height: 600px; 
   width: 100%;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

#text{
    text-align: center;
    margin-top: 15px;
    font-family: Lora;
    font-weight: bold;
    text-transform: uppercase;
}

/* fight for section */

#fight-for{
    height: 300px;
    background-color: #2B18A3;
}

.text{
    padding:20px; 
    background-color:#2B18A3
    column-count:3;
    column-gap:50px; 
    column-rule:1px solid #fff; 
    column-width:300px; 
    
    -webkit-column-count:3;
    -webkit-column-gap:50px; 
    -webkit-column-rule:1px solid #fff;
    -moz-column-width:300px; 
    
    -moz-column-count:3;
    -moz-column-gap:50px; 
    -moz-column-rule:1px solid #fff;
    -moz-column-width:300px; 
 }
       
p { 
   color:#fff
   font-size:1em; 
   margin-bottom:20px; 
   font-family: Montserrat;
}

#what{
    text-align: center;
    margin: 25px 0;
    font-size: 300%;
    color: #fff;
}
h3{
    font-family: Anton;
    font-size: 25px;
    color: #F353D5;
    line-height: 45px;
}


/* footer */

footer{
    height: fit-content;
}

.social-network{
    text-align: center;
}

.social-network li{
    display: inline;
}

.social-network i{
    font-size: 160%;
    margin: 0.5%;
    padding: 2%;
    color: #2B18A3;
}


/* Who we are page*/

#introduction{
    clear: both;
}

.frame{
    clear: both;
    height: 800px;
    background-color: #fff;
}

#textpage2{
    color: #2B18A3;
    font-size: 280%;
    font-family: Anton;
    text-align: center;
    margin-left: 30px;
    margin-top: 5px;
}

#style-p{
    font-size: 155%;
    width: 600px;
    height: 500px;
    font-family: Montserrat;
    font-weight: lighter;
    color: #000;
    text-align: left;
    margin-left: 30px;
    text-align: justify;
}

#photo2{
    float: right;
    width: 50%;
    padding-right: 30px;
}

/* Reach out page */

.my-form h1{ 
    font-size:2.5em; 
    color: #2B18A3;
    margin-bottom:0.5em; 
}

.my-form{ 
    width:100%;
    overflow: hidden;
    background-color: white;
    margin: auto;
    padding: 10em;
    border-radius:6px; 
}

.label{ 
    float:left; 
    width:100%; 
    margin-bottom:20px; 
    position:relative; 
}
input[type="text"],textarea{ 
    font-family:'open_sansregular';
    font-size:1.3em; 
    color: #a2a2a2; 
    width: 100%; 
    box-sizing:border-box;
    outline:none; 
}

.effect-line:focus{ 
    color: #2B18A3;
}

.effect-line {
    border:0; 
    padding:7px 0; 
    border-bottom:1px solid #f0f0f0;
}

.effect-line ~ .focus-border{
    position:absolute; 
    bottom:0; 
    left:0; 
    width:0; 
    height:3px; 
    background-color: #2B18A3;
    transition: 0.5s;
}

.effect-line:focus ~ .focus-border{ 
    width:100%; transition:0.4s; 
}

.btn-send { 
    width: 160px;
    float: left;
    background: #2B18A3;
    color: #ffffff;
    border: none;
    cursor: pointer; 
    padding: 0.4em 0em; 
    font-size: 1.5em;
    font-family:'open_sansregular';
    transition:0.4s; 
}

.btn-send:hover{ 
    background-color: #F353D5;
    transition:0.4s; 
}

.my-form { 
    width:40%; 
}

/*Thank you page*/

#thankyou-section{
    padding-top: 250px;
    padding-bottom: 250px;
    padding-left: 600px;
}
 
.thankyou{
    font-family: Lora;
    color: #2B18A3;
    text-align: center;
}

#thankyoutext{
    font-family: Lora;
    color: #2B18A3;
}

/* Media queries */

/* For larger to medium screens size from 1200px wide and down*/
@media screen and (max-widht:1200px) {
    #fight-for{
       width: 65%;
       height: 1200px;
       margin: 0 auto;
    }
   
    #what {
       padding: 30px 0;
       margin: 0;
    }
   
    #text {
       width: 100%;
       float: left;
       padding: 0;
    }
   
    hr {
       display: none;
    }
   }
   
   /* For medium screens sizer from 950px wide and down*/
   @media screen and (max-width:950px) {
   
       #menu {
           clear: left;
           float: left;
           margin-left: 30px;
           margin-bottom: 20px;
           line-height: 25px;
       }
   
       #fight-for  {
           width: 90%;
           height: 1200px;
           margin: 0 auto;
       }
   
       .what {
            width: inherit;
       }
   
       #introduction {
           column-count: 1;
       }
   }
   
   
   /* For small screens sizes 800px and down */
   @media screen and (max-width:800px) {
       #introduction {
           column-count: 0;
       }
   }
   